.Input-form{

    width: 300px;
    background-color: azure;
    border-style: 1px solid black;
    display: block;
    padding: 10px;
    border-radius: 10px;
}
.button-form{
    border-radius: 10px;
    border-style: 2px solid black;
    display: block;
    padding: 10px;
    margin: 10px;
}
.button-form:hover{
    background: red;
    color: white;
}
.img-animal{

    height: 600px;
    width: auto;
    border-radius: 300px;

}
.nombres-container{
    display: block;
    margin: 10px;
    padding: 10px;
}
.p-form{
    display: inline;
    size: 10px;
    font-family: Georgia;

}
.persona{
    margin: 10px ;
    color:white;
    size: 20px;
    padding: 20px;
    background-color: darkgrey;
    border-style: 1px solid black;
}
.morado{
    background-color: blueviolet;
    color: azure;

}
.amarillo{
    background-color: yellow;
    color: black;
}
.rojo{
    background-color: red;
    color:white
}
.inline{
    display: inline;
}
#container-color{
    height: 300px;
    width: 400px;
    border-style: groove;
}